@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */
*{
    margin: 0;
    padding: 0;
}
#hero{
   
    background: linear-gradient(0deg, rgb(9, 9, 9) 2.884%,rgba(16, 16, 16, 0) 101.034%),url('../assets/hero-bg.png');
    height: 919px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-container{
    text-align: center;
}
.btn{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px 32px 21px 32px;
    border-radius: 8px;
cursor: pointer;
background: rgb(82, 195, 3);
border: none;
}
#hero .hero-content{
    width: 1023px;
}
#hero .hero-content .subtitle{
    opacity: 0.8;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 16px;
}
#hero .hero-content .title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 64px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
#hero .hero-content .description{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 32px;
}

#card-box{
    width: 1320px;
    margin: 167px auto;
}
#card-box .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
}

#card-box .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
margin-bottom: 16px;

}
.card-container{
    margin-top: 48px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-family: Work Sans;
}
.card{
    width: 424px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.card .shop{
    border-radius: 8px;

background: rgba(82, 195, 3, 0.15);
padding: 14px 32px 14px 32px;
color: rgb(16, 16, 16);
font-size: 24px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0%;
}
.card .sose{
    color: rgb(16, 16, 16);
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
.wase{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(82, 195, 3);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 21px 32px 21px 32px;
margin: 64px auto;
border: none;
cursor: pointer;
}


   
